#modal-from-dom.modal.hide.fade
  -#.modal-header
  -#  %a{:href => "#", :class => "close"}
  -#    &times;
  -#  %h3
  -#    Modal Heading
  .modal-body
    %p
      One fine body…
  -#.modal-footer
  -#  =link_to "Button", "#", :class => "btn primary"