#notification-area
  -flash.each do |key, msg|
    =content_tag :div, content_tag(:div, msg), :class => ["#{key}"]
    :javascript
      $("document").ready(function() {
        $(".#{key}").delay(5000).fadeOut(500)
      });
