.topbar-wrapper{:style => "z-index:5;"}
  .topbar
    .topbar-inner
      .fill
        .container
          .brand
            =link_to "Quirkweek", root_path, :style => "color: white;"
          -unless current_user
            %ul.nav.secondary-nav
              %li
                =link_to "Sign Up", choose_signup_path, :id => "choose-signup-link"
              %li
                =link_to "Log In", login_path, :id => "login-link"
                
          -if current_user
            %ul.nav.secondary-nav
              %li.user-photo
                =image_tag current_user.photo, :size => "30x30"
              %li
                =link_to "My Account", account_path
              %li
                =link_to "Log out", logout_path
            %p.pull-right
              Logged in as
              =link_to "#{current_user.name}", "#"


/modals

=render 'partials/modals'  # renders 3 modals: choose-signup-modal, login-modal and create-account-modal