=render 'partials/topbar'

#wrapper.container

  =render 'partials/notification'  #notification on top

  %h1.text-center
    My Account
    
  .row{:style => "padding-top:30px;"}
    .offset3.span10
      .row
        %ul.tabs
          %li.active
            =link_to "Home", "#"
          %li
            =link_to "Profile", "#"
      .row
        .span10{:style => "margin-left:10px;"}
          %h5
            Available authentications
          
          .row
            Twitter: &nbsp;
            -if current_user.has_authentication?('twitter')
              Available
            -else
              =link_to "Twitter connect", "/auth/twitter"
              
          .row
            Facebook: &nbsp;
            -if current_user.has_authentication?('facebook')
              Available
            -else
              =link_to "Facebook connect", "/auth/facebook"
              
          .row  
            Username & password: &nbsp;
            -if ! current_user.just_social
              Available
            -else
              =link_to "Add", password_authentication_path