=render 'partials/topbar'

#wrapper.container

  =render 'partials/notification'  #notification on top

  %h1.text-center
    Create an account!

  .row
    .span12.offset4
      =form_for @user, :url => signup_path do |f|
        %fieldset
          -username_error = print_error 'username'
          .clearfix{:class => "#{ username_error }"}
            =f.label :username
            .input
              =f.text_field :username
              %span.help-inline
                =first_error 'username'

          -name_error = print_error 'name'
          .clearfix{:class => "#{ name_error }"}
            =f.label :name
            .input
              =f.text_field :name
              %span.help-inline
                =first_error 'name'
          
          -password_error = print_error 'password'
          .clearfix{:class => "#{ password_error }"}
            =f.label :password
            .input
              =f.password_field :password
              %span.help-inline
                =first_error 'password'

          .clearfix{:class => "#{ password_error }"}
            =f.label :password_confirmation, "Confirm password"
            .input
              =f.password_field :password_confirmation
              %span.help-inline
                =first_error 'password'
            
          .clearfix
            .row
              .offset3
                =f.submit "Create account", {:class => "btn"}
