=render 'partials/topbar'

#wrapper.container

  =render 'partials/notification'  #notification on top

  %h1.text-center
    Create an account!

  .row
    .span12.offset4
      =form_for @user, :url => signup_path do |f|
        %fieldset

          -username_error = print_error 'username'
          .clearfix{:class => "#{ username_error }"}
            =label :username, "Username"
            .input
              =f.text_field :username
              %span.help-inline
                =first_error 'username'

          -email_error = print_error 'email'
          .clearfix{:class => "#{ email_error }"}
            =label :email, "E-mail"
            .input
              =f.text_field :email
              %span.help-inline
                =first_error 'email'

              
          -password_error = print_error 'password'
          .clearfix{:class => "#{ password_error }"}
            =label :password, "Password"
            .input
              =f.password_field :password
              %span.help-inline
                =first_error 'password'
          
          .clearfix
            =label :password_confirmation, "Confirm password"
            .input
              =f.password_field :password_confirmation
          
          .clearfix
            .row
              .offset3
                =f.submit "Create account", {:class => "btn"}
                
  .row{:style => 'padding:30px 0px 0px 20px;'}
    .offset4<
      By clicking 'Create account' you agree to
      %span<
        =link_to "Quirkweek terms and conditions", "#"
        ="."
