=render 'partials/topbar'

#wrapper.container

  =render 'partials/notification'  #notification on top

  %h1.text-center
    Add username & password authentication

  .row
    .span12.offset4
      =form_for @user, :url => add_password_authentication_path do |f|
        %fieldset

          -username_error = print_error 'username'
          .clearfix{:class => "#{ username_error }"}
            =label :username, "Username"
            .input
              -if params[:action] == "password_authentication"
                =f.text_field :username, :value => ""    # if user is converting from :just_social account, we don't want to display randomly generated username for this purpose
              -else
                =f.text_field :username
                
              %span.help-inline
                =first_error 'username'
              
          -password_error = print_error 'password'
          .clearfix{:class => "#{ password_error }"}
            =label :password, "Password"
            .input
              =f.password_field :password
              %span.help-inline
                =first_error 'password'
          
          .clearfix
            =label :password_confirmation, "Confirm password"
            .input
              =f.password_field :password_confirmation
          
          .clearfix
            .row
              .offset3
                =f.submit "Create account", {:class => "btn"}

