@mixin rounded-corners($radius){
	-khtml-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin clean-li{
	margin:0;
	padding:0;
	color:#404040;
}

@mixin clean-ul{
	margin:0;
	padding:0;
	list-style:none;
}