@import "mixins";

#wrapper{
	margin-top:20px;
}

h1:first-child{
	margin:40px auto;
}

#time-left{
	margin:30px auto;
	text-align:center;
}

.text-center{
	text-align: center;
}

#featured-table{
	height:300px;
	
	tr, td{
		vertical-align: middle;
		text-align: center;
		font-size:2em;
		line-height:1em;
	}
}


//what is the better solution, to 
.comment-section{
	padding:15px 15px 0px 15px;
	height:500px;
	border: 1px solid #DDD;
	@include rounded-corners(4px);
	overflow:scroll;
}

.comment{
	margin:15px 0px;
	
	.comment-text{
		font-size:1.1em;
	}
	
	.comment-user-time{
		font-style:italic;
	}
	
}

#right-sidebar{
	height:817px;
	overflow:scroll;
	border: 1px solid #DDD;
	@include rounded-corners(4px);
	ul{
		list-style:none;
	}
	li{
		color:#404040;  //regular bootstrap text color
		padding:20px 0px;
		margin-right:25px; // without this margin, <li> goes all the way right
		border-bottom: 1px solid #DDD;
	}
}


.footer{
	padding-bottom:10px;
	background-color: #999;
	
	p{
		font-size:1.1em;
		color:white;
	}
}