@import "mixins";
body{
	padding-top: 40px;
}

#wrapper{
	//margin-top:20px;
}

h1:first-child{
	margin:40px 0px 10px 0px;
}

.topbar .brand:hover{
	background-color: transparent;  //overriding boostrap defaults
}

#quirkweek-brand{
	color:white;
	a:hover{
		text-decoration:none;
	}
}

#time-left{
	margin:10px 0px 30px 0px;
	text-align:center;
}

.text-center{
	text-align: center;
}

.featured-media{
	position:absolute;
	margin:10px;
}

.featured-area{
	@include clean-ul;
	height:300px;
	border: 1px solid #DDD;
	@include rounded-corners(4px);
	
	li{
		@include clean-li;
		line-height:300px;
		text-align:center;
		font-size:3.5em;
	}
}

.featured-details{
	float:left;
	width:100%;
	margin:-70px 0px; 
	
	.featured-details-left{
		float:left;
		padding:45px 0px 0px 10px;
	}
	.featured-details-right{
		float:right;
		padding:0px 15px 0px 0px;
		
		.featured-name{
			font-size:1.4em;
			line-height:1.4em;
		}
		
		ul{
			@include clean-ul;
		}
		li{
			@include clean-li;
		}
	}
}


//what is the better solution, to 
.comment-section{
	padding:15px 15px 0px 15px;
	height:500px;
	border: 1px solid #DDD;
	@include rounded-corners(4px);
	overflow-y:scroll;
	overflow-x:hidden;
	
	.new-comment input.btn{
		margin:31px 0px 0px 10px;
	}
	
	ul{
		@include clean-ul;
	}
	
	li{
		@include clean-li;
		margin:20px 0px;

		.comment-text{
			font-size:1.1em;			
		}
		.comment-user-time{
			font-style:italic;
		}
	}
}

#right-sidebar{
	height:817px;
	overflow-y:scroll;
	overflow-x:hidden;
	border: 1px solid #DDD;
	@include rounded-corners(4px);

	ul{
		@include clean-ul;
	}
	li{
		@include clean-li;
		padding:20px 0px;
		margin:0px 25px; // without this margin, <li> goes all the way right
		border-bottom: 1px solid #DDD;
	}
}


.footer{
	padding-bottom:10px;
	background-color: #999;
	
	p{
		font-size:1.1em;
		color:white;
	}
}