#right-sidebar
  %ul
    -10.times do
      %li
        Here is something for the sidebar. Lets see how much text fits here and what does the wrap look like.
      %li
        Omg great content submission! You won't believe it when you see it!
      %li
        A user posts a pic that a lot of people like