%div
  Hello Quirkweek!
  %br
  We have a user:
  %strong
    =@user.name
  %br
  We also have a mission with a title:
  %strong
    =@mission.title
  %br
  =".. and a description:"
  %strong
    =@mission.description
  
  