=render 'partials/topbar'

#wrapper.container
  
  =render 'partials/notification'  #notification on top
  
  %h1.text-center
    -if @mission
      =@mission.title
    -else
      Currently no mission

  %h5.text-center
    4 people quirked this week!
    %br
    %i
      Did you?

  %h3#time-left
    4 Days, 17 hours, 55 minutes left

  .row  
    .span-two-thirds

      / Featured content area
      / Help needed with vertically aligning the text
      .row
        .featured-media
          Text | Image | Video
          
        %ul.featured-area
          %li
            /Lotta text here. Yup, nothing but a lotta text
            -if @featured_quirk
              =@featured_quirk.text
            -else
              No quirks currently
          
        .featured-details
          .featured-details-left
            50 likes  &uarr;  &darr;  6  F  T
          .featured-details-right
            %ul
              %li.featured-name
                -if @featured_quirk
                  =@featured_quirk.user.username
              %li
                Friday, 11:59 pm CST
              %li
                Chicago, Illinois, USA
      
      / Comment section
      / New comment
      .row.comment-section
        -if @user && @featured_quirk        
          =render 'new_comment', :user_id => @user.id, :featured_quirk_id => @featured_quirk.id, :comment => @comment

        / Rest of the comments
        %ul
          -if @featured_quirk && @featured_quirk.has_comments?
            =render 'comments', :quirk => @featured_quirk
            

    / This is the right sidebar
    .span-one-third
      =render 'right_sidebar'

/ Footer
%footer.footer
  .container
    %p
      Copyright RoflCopter
