#wrapper.container
  
  %h1.text-center
    =@mission.title

  %h5.text-center
    4 people quirked this week!
    %br
    %i
      Did you?

  %h3#time-left
    4 Days, 17 hours, 55 minutes left

  .row  
    .span-two-thirds

      / Featured content area
      / Help needed with vertically aligning the text
      .row
        %ul.featured-area
          %li
            /Lotta text here. Yup, nothing but a lotta text
            =@featured_quirk.text
        
        .featured-media
          Text | Image | Video
          
        .featured-details
          .featured-details-left
            50 likes  &uarr;  &darr;  6  F  T
          .featured-details-right
            %ul
              %li.featured-name
                =@user.name
              %li
                Friday, 11:59 pm CST
              %li
                Chicago, Illinois, USA
      
      / Comment section
      .row.comment-section
      
        %textarea{:style => "width:400px;" }
          Temporary textarea placed here..
          
        %a.btn{:href => "#", :style => "margin-top:17px;"}
          Post
          
        -5.times do
          .comment
            .comment-text
              This is a random visitor comment. He looks around, likes the quirks, watches the content and giggles.
            .comment-user-time
              Mark - 25 minutes ago
      
          .comment
            .comment-text
              Another visitor submission. This is a shorter one.
            .comment-user-time
              Clara - less than an hour ago

          .comment
            .comment-text
              This visitor sp33ks 1337. And he can talk and talk. And talk and talk. He describes his emotions in detail - paying attention to everything.
            .comment-user-time
              Anthony - 2 hours ago


    / This is the left sidebar
    .span-one-third
      #right-sidebar
        %ul
          -10.times do
            %li
              Here is something for the sidebar. Lets see how much text fits here and what does the wrap look like.
            %li
              Omg great content submission! You won't believe it when you see it!
            %li
              A user posts a pic that a lot of people like

/ Footer
%footer.footer
  .container
    %p
      Copyright RoflCopter
