#wrapper.container
  
  %h1.text-center
    =@mission.title

  %h5.text-center
    4 people quirked this week!
    %br
    %i
      Did you?

  %h3#time-left
    4 Days, 17 hours, 55 minutes left

  .row  
    .span-two-thirds

      / Featured content area
      / Help needed with vertically aligning the text
      .row
        .featured-media
          Text | Image | Video
          
        %ul.featured-area
          %li
            /Lotta text here. Yup, nothing but a lotta text
            =@featured_quirk.text
          
        .featured-details
          .featured-details-left
            50 likes  &uarr;  &darr;  6  F  T
          .featured-details-right
            %ul
              %li.featured-name
                =@user.name
              %li
                Friday, 11:59 pm CST
              %li
                Chicago, Illinois, USA
      
      / Comment section
      .row.comment-section
        .new-comment
          =form_for @comment do |f|
            =f.hidden_field :user_id,          :value => @user.id            #manually assigned, to be changed
            =f.hidden_field :users_mission_id, :value => @featured_quirk.id  #manually assigned, to be changed
            =f.text_area :text, {:style => "width: 400px; height:50px;", :value => "Commenting works, try it!"} 
            =f.submit "Post", {:class => "btn primary"}
        
        %ul
          -if @featured_quirk.has_comments?
            =render 'comments', :quirk => @featured_quirk
            

    / This is the left sidebar
    .span-one-third
      #right-sidebar
        %ul
          -10.times do
            %li
              Here is something for the sidebar. Lets see how much text fits here and what does the wrap look like.
            %li
              Omg great content submission! You won't believe it when you see it!
            %li
              A user posts a pic that a lot of people like

/ Footer
%footer.footer
  .container
    %p
      Copyright RoflCopter
